body {
    font-family: 'Arial', sans-serif;
    background-color: #272727;
    color: #ffffff;
    margin: 0;
}

#container {
    max-width: 850px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

center {
    text-align: center;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
}

label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#cocteles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#contar {
    display: block;
    margin-top: 20px;
}

#btnLimpiar {
    margin-top: 10px;
}

#bebidas {
    width: 19%;
    margin-bottom: 20px;
    text-align: center;
}
